doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+W")
    link(href="https://fonts.googleapis.com/css?family=Kumar+One+Outline" rel="stylesheet")
  body
    block content
